{% extends 'CourtyardForumBundle::Forum.html.twig' %}

{% block forum_content %}
	<ul>
	    {% for board in boards %}
	        <li><a href="{{ generateBoardUrl(board) }}">{{ board.title }}</a></li>
	    {% endfor %}
	</ul>
{% endblock forum_content %}