{% extends 'CourtyardForumBundle::Forum.html.twig' %}

{% block forum_content %}
	<ul>
	    {% for board in boards %}
	        <li><a href="{{ path('forum_view', { id: board.id }) }}">{{ board.title }}</a></li>
	    {% endfor %}
	</ul>
{% endblock forum_content %}