{% extends 'CourtyardForumBundle::Forum.html.twig' %}

{% block forum_content %}
	<h1>{{ board.title }}</h1>
	<a href="{{ generateNewTopicUrl(board) }}">Create New Topic</a>
	
	<h2>Topics</h2>
	<ul>
	    {% for topic in topics %}
	        <li><a href="{{ generateTopicUrl(topic) }}">{{ topic.title }}</a></li>
	    {% endfor %}
	</ul>
{% endblock forum_content %}