{% extends 'CourtyardForumBundle::Forum.html.twig' %}

{% block forum_content %}
	<h1>{{ board.title }}</h1>
	<a href="{{ generateNewTopicUrl(board) }}">Create New Topic</a>
	
	<h2>Topics</h2>
	<ul class="topics">
	    {% for topic in topics %}
	        <li class="topic">
	           <h3><a href="{{ generateTopicUrl(topic) }}">{{ topic.title }}</a></h3>
           </li>
	    {% endfor %}
	</ul>
{% endblock forum_content %}